* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    position: relative;

}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --gray: #121212;
    --gary2: #929292;
}

.left {
    width: 24.5vw;
    height: 100vh;
    padding: 5px;
    position: fixed;
}


.library {
    position: relative;
    height: 75vh;
}

.home ul li {
    list-style: none;
    width: 22px;
    display: flex;
    gap: 15px;
    font-weight: bold;
}

.library img {
    width: 22px;
}

.left-playlist {
    background-color: #1b1b1b;
    border-radius: 10px;
    height: 30vh;
    overflow-y: scroll;
}

.left-playlist::-webkit-scrollbar {
    display: none;
}

.left-card {
    margin: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.left-card .play {
    position: absolute;
    right: 0px;
    width: 40px;
    opacity: 0;
    transition: all 0.3s ease-in;

}

.left-card:hover .play {
    opacity: 1;
}

.left-card img {
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

.left-card h3,
h5 {
    color: white;
    margin-left: 20px;
    padding: 2px 0px;
}

.foot {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 100px;
    overflow: hidden;
    max-height: 15vh;


}

.foot a {
    padding-left: 15px;
    text-decoration: none;
    padding: 15px;
    color: beige;
    font-weight: 100;
    font-size: small;

}

.langbtn {
    border: 1px solid hsl(0, 0%, 57%);
    display: flex;
    position: relative;
    border-radius: 50px;
    margin-left: 20px;
    align-items: center;
}

.langbtn p {
    font: size 17px;
    position: relative;
    bottom: 4px;
}

.lang {
    position: absolute;
    bottom: 50px;
}

.lang img {
    width: 20px;
}

.langbtn:hover {
    border: 1px solid white;
}

.langbtn:hover p {
    font-size: 18px;
}

/* Right */
.header {
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    height: 66px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header>* {
    padding: 8px;
    padding-right: 30px;
}



.right {
    /* width: 73.8vw; */
    /* height:100vh; */
    width: 73.8vw;
    margin-top: 9px;
    margin-right: 8px;
    position: absolute;
    right: 0;
}

.signup {
    width: 100px;
    height: 50px;
    border: 1px solid rgb(12, 12, 12);
    background-color: rgb(12, 12, 12);
    font-size: 14px;
    margin-right: 10px;

}

.login {
    width: 110px;
    height: 50px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;

}
.hamburger{
    display: none;
    width: 40px;
}

.close{
    display: none;
    float: right;
    
}

/* Play list */
.playlist {
    margin-top: 15px;
    min-height: 90vh;
    padding-bottom: 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    /* max-height: 100vh; */
    overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    width: 14.8vw;
    flex-direction: column;
    padding: 15px;
    background-color: #252525;
    border-radius: 10px;
}

.card>h3,
p {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card .play {
    position: absolute;
    width: 60px;
    bottom: 95px;    /* after bottom 100px*/
    right: 15px;
    opacity: 0; /*after opacity =1*/
    transition: all 0.3s ease-in;
}

.login:hover {
    font-size: 16px;
}

.signup:hover {
    font-size: 16px;
}

.card:hover .play {
    opacity: 1;
    bottom: 100px;
}


/* PlayBar */
.playbar {
    position: fixed;
    bottom: 0px;
    color: white;
    width: 68%;
    height: 6%;
    background-color: #252a2a;
    padding: 30px;
    border-radius: 60px;
    margin: 10px;
    justify-content: center;
}

.songbtns {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: relative;
    top: -15px;
}

.seekbar {
    width: 90%;
    height: 5px;
    background-color: beige;
    bottom: 35px;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -2.5px;
    left: calc(0% - 5px);
    transition: left 0.5s;
}

#prev {
    cursor: pointer;
}
#prev1 {
    cursor: pointer;
}

#play {
    cursor: pointer;
}

#next {
    cursor: pointer;
}
#next1 {
    cursor: pointer;
}
.songinfo{
    position: absolute;
    top: 7px;
    left: 60px;

}
.songinfo img{
    width: 40px;
    border: 2px solid white;
    margin-right: 25px;
    
}
.songinfo p{
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: bold;
}
.songtime{
    position: absolute;
    right:60px ;
    top: 10px;
}
.songtime p{
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: bold;
}
.volume{
    position: absolute;
    right:200px ;
    top: 20px;
}



  
  @media (max-width:1300px) {
    .left{
        position: fixed;
        display: none;
        z-index: 1;
        left: -120%;
        transition: all 1s;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: calc(100% - 60px);
    }
    .seekbar{
        width: calc(100% - 60px);
    }
    .hamburger{
        display:inline;
    }
    .close{
        display: inline;
    }
    
}

@media (max-width: 500px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .volume {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }
    .volume {
        position:absolute;
        bottom:-50px;
    }
    .volume img{
        width:30px
    }
    .songtime{
        position:absolute;
        top:65px
    
    }
    .left{ 
        width: 100vw;
    }
}
  