* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(255, 255, 255); */
    /* overflow: hidden; */
    /* -webkit-font-smoothing: antialiased; */
    /* overscroll-behavior-y: none; */
    background-color: black;
    position: relative;

}
body::-webkit-scrollbar {
    display: none;
}
:root{
    --gray:#121212;
    --gary2:#929292;
}
.left {
    width: 25vw;
    height: 100vh;
    padding: 5px;
   position: fixed;
}



.home {
    /* height: 30vh; */
    /* position: fixed; */

}

.library {
    position: relative;
    height: 75vh;
}

.home ul li {
    list-style: none;
    width: 22px;
    display: flex;
    gap: 15px;
    font-weight: bold;
}

.library img {
    width: 22px;
}


.foot {

    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 5vw 11vw 8vw;
    grid-template-rows: 5vh 5vh;
    align-items: center;
    position: absolute;
    /* left: 60px; */
    bottom: 100px;
    overflow: auto;

}

.foot a {
    padding-left: 15px;
    text-decoration: none;
    padding: 15px;
    color: beige;
    font-weight: 100;
    font-size: small;

}
.langbtn{
    border: 1px solid hsl(0, 0%, 57%);
    display: flex;
    position: relative;
    border-radius: 50px;
    margin-left: 20px;
    align-items: center;
}
.langbtn p{
    font: size 17px;;
    position: relative;
    bottom: 4px;
}
.lang{
    position:absolute;
    bottom: 50px;
}

.langbtn:hover{
    border: 1px solid white;
}
.langbtn:hover p{
    font-size: 18px;
}
/* Right */
.header{
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    height: 66px;
}

.header > *{
    padding: 8px;
    padding-right: 30px;
}
.right {
    width: 73.8vw;
    /* height:100vh; */
     margin-top: 9px;
     margin-right: 8px;
     position: absolute;
     right: 0;
}

.signup{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(12, 12, 12);
    background-color: rgb(12, 12, 12);
    font-size: 14px;
    margin-right: 10px;
    
}
.login{
    width: 110px;
    height: 50px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    
}

/* Play list */
.playlist{
    /* background: linear-gradient(to bottom, rgba(47, 47, 47, 0.5) 0%, rgba(18, 18, 18, 0.5) 100%); */
    /* height: 50vh; */
    margin-top: 15px;
    min-height: 90vh;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    max-height: 100vh;
    overflow-y: scroll;
    /* stroke-width: 10px; */
}
.card-container::-webkit-scrollbar {
    display: none;
}
.card{
    /* border: 2px solid white; */
    position: relative;
    width: 14.8vw;
    flex-direction: column;
    padding: 15px;
    background-color: #252525;
    border-radius: 10px;
}
.card > h3, p{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.card .play{
    position: absolute;
    width: 60px;
    bottom: 95px;/* after bottom 100px*/
    right:15px;
    /* visibility: hidden;  */
    opacity: 0; /*after opacity =1*/
    transition:all 0.3s ease-in;
}

.login:hover{
    /* font-weight:bolder ; */
    font-size: 16px;
}
.signup:hover{
    font-size: 16px;
}
.card:hover .play{
    opacity: 1;
    bottom: 100px;
}
